<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003695738850-cafjbpngmdpsofv5l62mt8ro8obs10oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003695738850-cafjbpngmdpsofv5l62mt8ro8obs10oc</string>
	<key>API_KEY</key>
	<string>AIzaSyAUJXl6yWFhoNBdv4C7TBaTzGJCjVMK13E</string>
	<key>GCM_SENDER_ID</key>
	<string>1003695738850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swu.ac.th.finalProject-app</string>
	<key>PROJECT_ID</key>
	<string>greenearth-c3459</string>
	<key>STORAGE_BUCKET</key>
	<string>greenearth-c3459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003695738850:ios:fbd9b91d87a261a545f3bb</string>
	<key>DATABASE_URL</key>
	<string>https://greenearth-c3459-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>